$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #fff;
$font-size: 1rem;
$line-height: 1.5;
$font-family: Georgia, Helvetica Neue, Helvetica, Arial, sans-serif;
$margins: 20px;
$dark-color: #505050;
$light-color: #cafafa;